<h1>DASHBOARD</h1>

<h2>YOUR STORIES</h2>
<ul>
  <% @stories.each do |story| %>
    <li><%= link_to story.title, story %></li>
  <% end %>
</ul>

<h2>YOUR CHARACTERS</h2>
<ul>
  <% @faces.each do |face| %>
    <li><%= link_to face.character.name, [face.character, face] %>
  <% end %>
</ul>
