body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    margin: 0;
    padding: 10px 20px;
    background-color: #dddddd;
}

h1#logo {
    margin: 0;
    padding: 0;
    line-height: 1;
    float: left;
}

#status {
    text-align: right;
}

header > h1 > a {
    text-decoration: none;
}

header > h1 > a:hover {
    background-color: transparent;
    color: #333336;
}

#main {
    margin: 10px 30px;
}

.dialogs {
    border: 10px solid #f0f0f0;
}

.dialogs .dialog {
    border :1px dotted #c0c0c0;
    border-left: 24px solid #c0c0f0;
    padding: 5px 10px;
    margin: 10px;
}

.horizontal {
    -webkit-box-orient: horizontal;
    -moz-box-orieng: horizontal;
    -ms-box-orient:horizontal;
    -o-box-orient:horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
}
