<%= form_for(@user) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
