= simple_form_for(@user, :html => {:class => "form-horizontal"}) do |f|
  = f.error_notification
  .form-fields
    = f.input :name, :placeholder => "Name"
  .form-actions
    = f.submit :class => "btn btn-primary"

