<p id="notice"><%= notice %></p>

<article>
  <h1><%= @story.title %></h1>

  <div class="dialogs">
    <% @story.dialogs(:include => [:face]).each do |dialog| %>
      <div class="dialog horizontal">
        <%= image_tag dialog.face.url %>
        <div class="message"><%= simple_format dialog.message %></div>
      </div>
    <% end %>
  </div>
</article>
