<%= form_for(@dialog) do |f| %>
  <% if @dialog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dialog.errors.count, "error") %> prohibited this dialog from being saved:</h2>

      <ul>
      <% @dialog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
