<h1>Listing dialogs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dialogs.each do |dialog| %>
  <tr>
    <td><%= link_to 'Show', dialog %></td>
    <td><%= link_to 'Edit', edit_dialog_path(dialog) %></td>
    <td><%= link_to 'Destroy', dialog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dialog', new_dialog_path %>
