<h1>Listing dialogs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% @dialogs.each do |dialog| %>
    <tr>
      <td><%= link_to 'Show', [@story, dialog] %></td>
      <td><%= link_to 'Edit', [:edit, @story, dialog] %></td>
      <td><%= link_to 'Destroy', [@story, dialog], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Dialog', [:new, @story, :dialog] %>
